[data-theme="monochrome-light"] {
  --mono-light-bg0_h: #ffffff;
  --mono-light-bg0: #fafafa;
  --mono-light-bg0_s: #f5f5f5;
  --mono-light-bg1: #ededed;
  --mono-light-bg2: #e5e5e5;
  --mono-light-bg3: #d4d4d4;
  --mono-light-bg4: #a3a3a3;

  --mono-light-fg0: #000000;
  --mono-light-fg1: #0a0a0a;
  --mono-light-fg2: #404040;
  --mono-light-fg3: #525252;
  --mono-light-fg4: #737373;

  --mono-light-gray: #737373;

  --mono-light-red: #171717;
  --mono-light-green: #262626;
  --mono-light-yellow: #171717;
  --mono-light-blue: #262626;
  --mono-light-purple: #171717;
  --mono-light-aqua: #262626;
  --mono-light-orange: #171717;
}