@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@spielos/design-system/base.css";
@import "../components/chat/chat-markdown.css";

html,
body {
  font-family: var(--font-sans);
  font-feature-settings: "ss01", "cv11";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre,
kbd {
  font-family: var(--font-mono);
}
